@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  -webkit-tap-highlight-color: transparent;
  height: 100%;
  max-width: 100%;
  overflow-x: hidden;
  position: relative;
  font-family: "Roboto", sans-serif;
  background-color: #eee;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}

.view,
.view .mask,
.waves-effect {
  overflow: hidden;
}

.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}
/* .navbar:not(.top-nav-collapse) { */
.top-nav-collapse {
  background-color: #016533;
}
.navbar {
  position: relative;
  display: flex;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 2rem 0;
  width: 100%;
}
.navbar-nav {
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.dropdown .dropdown-menu {
  background-color: #eee !important;
  border: none;
}
.dropdown .dropdown-menu a {
  color: #996533 !important;
  font-weight: 500 !important;
}
.dropdown:hover .dropdown-menu {
  display: block;
  background-color: #eee !important;
}

.navbar .nav-item .nav-link {
  display: block;
  color: snow;
  font-family: "Verdana", sans-serif;
  font-size: 1rem;
  transition: 0.3s linear;
  padding: 5px 8px;
}
.navbar .nav-item .nav-link > i {
  color: #4bef10;
  font-weight: 550;
}
.navbar .nav-item .nav-link > i:hover {
  color: hsl(104, 100%, 50%);
}

.navbar .nav-item .nav-link:hover {
  display: block;
  color: rgb(163, 162, 162);
  transition: 0.3s ease;
}
.navbar {
  padding-right: 1rem !important;
  font-weight: 500;
}
.donate {
  display: inline-block;
  background-color: blue;
  color: #ffffff;
  text-decoration: none;
  padding: 8px 13px;
  border: none;
  border-radius: 5px;
  box-shadow: 1px 1px 5px rgb(0, 0, 0);
  transition: all 0.3s ease;
}

.donate:hover {
  background: #2e5f00;
  color: #ffffff;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
}
.logo {
  height: 80px;
  width: auto;
  margin-right: 10px;
  margin-left: 10px;
  position: relative;
  z-index: 11;
}
.btn-outline-kccwg-green {
  border: 2px solid #016533 !important;
  color: #996533 !important;
  font-weight: 400 !important;
}
/* Add this CSS code to show the menu on mobile devices */

@media (max-width: 1124px) {
  .navbar {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 0;
    text-align: center;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
  }
  .navbar .nav-item .nav-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
}
@media (min-width: 1124px) {
  /* Styles for screens below and above 1124px width */
  .navbar {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 0;
    text-align: center;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .navbar .nav-item .nav-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
}
/* @media (min-width: 769px) and (max-width: 1200px) {
  .navbar {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 0;
    text-align: center;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .navbar .nav-item .nav-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
} */

@media (max-width: 768px) {
  .navbar {
    overflow-x: auto;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    width: 100%;
  }

  .kccwg_responsive_image {
    max-width: 100%;
    height: auto;
  }
  .donate {
    width: 30%;
  }
  .logo {
    height: 40px;
    width: auto;
    margin-bottom: 10px;
    padding-left: 15px;
  }
  .navbar-toggler-icon {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    padding-right: 2vw;
    background-image: var(--bs-navbar-toggler-icon-bg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
  }
  .navbar:not(.top-nav-collapse) {
    background-color: #016533 !important;
  }
  .navbar .nav-item .nav-link {
    color: snow;
    font-family: "Verdana", sans-serif;
    font-size: 1rem;
    transition: 0.3s linear;
    padding: 5px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .navbar-collapse {
    display: flex;
    justify-content: center;
    flex-basis: 100%;
    flex-grow: 1;
    align-items: center;
  }
}
/* @media (min-width: 600px) {
  .navbar.scrolling-navbar .navbar-nav > li {
    -webkit-transition-duration: 1s;
    -o-transition-duration: 1s;
    transition-duration: 1s;
  }
} */
/* the home styling starts here */
#home {
  position: relative;
  height: 100vh;
  overflow: hidden;
  padding-top: 15px;
  top: 0vh;
  position: relative;
}

.video-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.video-container video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.description {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  z-index: 1;
}

.description h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color: #fff;
  text-transform: none;
  font-family: Playfair Display Italic;
  color: #fff;
}

.description p {
  font-size: 1.2rem;
  /* color: #4bef10; */
  text-transform: capitalize;
  font-family: Griffiths Font;
  font-size: 1.5rem;
  font-weight: 600;
  color: #fff;
}

/* Additional styles for responsiveness can be added for larger screens */
@media (min-width: 992px) {
  /* Desktop devices */
  #home {
    height: 100vh;
  }

  .description h1 {
    font-size: 3rem;
    color: #fff;
    text-transform: none;
    font-family: "Playfair Display Italic", serif;
  }

  .description p {
    font-size: 1.3rem;
    color: #ffffff;
    text-transform: capitalize;
    font-family: cormorant;
    font-size: 1.5rem;
    font-weight: 600;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  /* Tablets */
  #home {
    height: 70vh;
  }

  .description h1 {
    font-size: 2rem;
  }

  .description p {
    font-size: 1.1rem;
  }
}

@media (max-width: 767px) {
  /* Mobile devices */
  #home {
    height: 50vh;
    top: 2vh;
  }

  .description h1 {
    font-size: 1.2rem;
  }

  .description p {
    font-family: garamond;
    font-size: 1.1rem;
    line-height: normal;
    font-weight: 600;
    color: snow;
  }
}
/* the about section starts from here  */
#about {
  position: relative;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  overflow: auto;
}
#about p {
  font-family: garamond;
  font-size: 20px;
}
#socialmedia {
  position: relative;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  overflow: auto;
  text-align: center;
}
#gallery {
  position: relative;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  overflow: auto;
  text-align: center;
}
#gallery figcaption {
  font-size: 20px;
  padding: 5px 10px;
  font-weight: normal;
  font-family: garamond;
  text-transform: none;
}
/* divider */
.kccwg_divider {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-weight: 300;
  margin-top: 20px;
  margin-bottom: 20px;
}
.kccwg_divider span {
  margin-top: 5px;
}
.kccwg_divider:before {
  content: "";
  height: 1.5px;
  background: #c6c6c6;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin: 0 0.45em 0 0;
}

.kccwg_divider:after {
  content: "";
  height: 1.5px;
  background: #c6c6c6;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin: 0 0 0 0.45em;
}
.aboutkccwg_row {
  margin: 0px;
  background-color: transparent;
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.05);
  border-radius: 0.5rem;
}
.aboutkccwg-desc {
  height: 100%;
  width: 100%;
  position: relative;
  margin: 10px 5px;
}
.aboutkccwg-desc > p {
  font-style: normal;
  font-size: 16px;
  line-height: 2;
  word-wrap: break-word;
}
.eacop {
  overflow: hidden;
  max-height: 200px; /* Adjust the value as per your requirements */
}

.text-dark {
  color: #212121 !important;
  position: relative;
}
.aboutkccwg-img > img {
  width: 100%;
  height: 100%;
  transform: translateY(-2px);
  object-fit: cover;
  border-radius: 0.5rem;
  box-shadow: 0 0 8px 3px rgba(0, 0, 0, 0.2);
}
.fab {
  font-family: "Font Awesome 5 Brands";
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
}
.fa-2x {
  font-size: 2em;
}
.btn-outline-kccwg-green {
  border: 2px solid #016533 !important;
  color: #996533 !important;
  font-weight: 400 !important;
}
/* news and events */
.fa,
.fas {
  font-weight: 900;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
}

.container {
  display: flex;
  flex-wrap: wrap;
  height: auto;
}

.box {
  flex: 0.333333;
  width: 100%;
  margin: 10px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  position: relative;
}

.box img,
.box > video {
  width: 100%;
  object-fit: cover;
  border-radius: 0.5rem;
  box-shadow: 1px 2px 8px 3px rgba(214, 211, 211, 0.2);
}

.box h3 {
  margin-top: 10px;
  font-weight: 600 !important;
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
}

.box p {
  margin-top: 5px;
  font-size: 1rem;
  font-weight: 400;
  color: #333333;
  padding-bottom: 2rem;
}
.box a {
  display: block;
  text-align: center;
  margin-top: 10px;
  padding: 0.375rem 0.75rem;
  border: 2px solid #016533;
  border-radius: 10em;
  color: #212529;
  font-weight: 400;
  cursor: pointer;
  text-decoration: none;
  font-size: 1rem;
  line-height: 1.5;
  background-color: transparent;
  transition: color 0.15s ease-in-out, border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: center;
  }
}
/* footer styles  */

.footer-section {
  background: #1e1e1e; /* 151414 */
  position: relative;
  width: 100%;
  height: auto;
}
.footer-cta {
  border-bottom: 1px solid #373636;
}
.single-cta {
  display: flex;
  align-items: center;
}
.single-cta i {
  color: #4bef10;
  font-size: 30px;
  font-size: 30px;
  margin-right: 10px; /* Adjust the margin as needed */
  margin-left: 15px;
}
.cta-text {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-left: 5px;
  margin: 10px;
}
.cta-text h4 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 2px;
  text-align: center; /* Adjusted to 'left' instead of 'center' */
}
.cta-text span {
  color: #757575;
  font-size: 1.1rem;
  font-weight: 500;
  font-family: garamond;
  margin-left: 30px;
  text-align: center;
  margin-top: 10px;
}
.cta-text a {
  list-style: none;
  text-decoration: none;
  font-size: 1.1rem;
  margin: 10px;
  text-align: center;
  font-family: dosis;
}
.footer-content {
  position: relative;
  z-index: 2;
}
.footer-pattern img {
  position: absolute;
  top: 0;
  left: 0;
  height: 330px;
  background-size: cover;
  background-position: 100% 100%;
}
.footer-logo {
  margin-bottom: 30px;
}
.footer-logo img {
  max-width: 150px;
}
.footer-text p {
  margin-bottom: 14px;
  font-size: 14px;
  color: #7e7e7e;
  line-height: 28px;
}
.footer-social-icon span {
  color: #fff;
  display: block;
  font-size: 20px;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  margin-bottom: 20px;
}
.footer-social-icon a {
  color: #fff;
  font-size: 16px;
  margin-right: 15px;
}
.footer-social-icon i {
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 38px;
  border-radius: 50%;
}
.facebook-bg {
  background: #3b5998;
}
.twitter-bg {
  background: #55acee;
}
.google-bg {
  background: #dd4b39;
}
.footer-widget-heading h3 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 40px;
  position: relative;
}
.footer-widget-heading h3::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -15px;
  height: 2px;
  width: 50px;
  background: #4bef10;
}
.footer-widget ul li {
  display: inline-block;

  width: 50%;
  margin-bottom: 12px;
}
.footer-widget ul li a:hover {
  color: #4bef10;
}
.footer-widget ul li a {
  color: #878787;
  text-transform: capitalize;
  text-decoration: none;
  font-size: 1rem;
}
.subscribe-form {
  position: relative;
  overflow: hidden;
}
.subscribe-form input {
  width: 100%;
  padding: 14px 28px;
  background: #2e2e2e;
  border: 1px solid #2e2e2e;
  color: #fff;
  outline: none;
}
.subscribe-form button {
  position: absolute;
  right: 0;
  background: #4bef10;
  padding: 13px 20px;
  border: 1px solid #4bef10;
  top: 0;
}
.subscribe-form button i {
  color: #fff;
  font-size: 22px;
  transform: rotate(-6deg);
}
.copyright-area {
  background: #282829;
  padding: 25px 0;
}
.copyright-text p {
  margin: 0;
  font-size: 14px;
  color: #878787;
}
.copyright-text p {
  color: #4bef10;
  font-size: 18px;
  font-family: dosis;
}
.copyright-text p span a {
  color: #fff;
  font-size: 16px;
  margin-right: 25px;
}
.copyright-text p span a i {
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 38px;
  border-radius: 50%;
}

.footer-menu li {
  display: inline-block;
  margin-left: 20px;
}
.footer-menu li:hover a {
  color: #996513;
}
.footer-menu li a {
  font-size: 14px;
  color: #878787;
}
/* this is the css for gallery */
/* Custom styles for the close button */
.mdb-lightbox-close {
  color: red;
  font-size: 20px;
}
.mdb-lightbox img:hover {
  cursor: pointer;
}
