@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: "Roboto", sans-serif;
  background-color: #eee;
  position: relative;
  height: 100%;
  height: 100%;
  overflow-x: hidden;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
}
.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}
/* .navbar:not(.top-nav-collapse) { */
.top-nav-collapse {
  background-color: #016533;
}
.navbar {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0.5rem 1rem;
}
.navbar-nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.dropdown .dropdown-menu {
  background-color: #eee !important;
  border: none;
}
.dropdown .dropdown-menu a {
  color: #996533 !important;
  font-weight: 500 !important;
}
.dropdown:hover .dropdown-menu {
  display: block;
  background-color: #eee !important;
}

.navbar .nav-item .nav-link {
  display: block;
}
.navbar {
  padding-right: 1rem !important;
  font-weight: 500;
}

.btn-outline-kccwg-green {
  border: 2px solid #016533 !important;
  color: #996533 !important;
  font-weight: 400 !important;
}
/* Add this CSS code to show the menu on mobile devices */
@media (max-width: 991.98px) {
  .navbar-collapse {
    display: none !important;
  }
  .navbar-collapse.show {
    display: block !important;
  }
}

@media (max-width: 992px) {
  .navbar .nav-item .nav-link {
    padding-right: 6px;
    padding-left: 6px;
  }
}

@media (min-width: 800px) and (max-width: 850px) {
  .navbar:not(.top-nav-collapse) {
    background-color: #016533 !important;
  }
  .corouselrow {
    margin-top: 60px !important;
  }
  .dropdown .dropdown-menu {
    background-color: #016533 !important;
  }
  .dropdown:hover .dropdown-menu {
    background-color: #016533 !important;
    display: inline !important;
    border: 1px solid #996533;
  }
}

@media (max-width: 768px) {
  .navbar:not(.top-nav-collapse) {
    background-color: #016533 !important;
  }

  .corouselrow {
    margin-top: 60px !important;
  }
  .dropdown .dropdown-menu {
    background-color: #016533 !important;
  }
  .dropdown:hover .dropdown-menu {
    background-color: #016533 !important;
    display: inline !important;
    border: 1px solid #996533;
  }
}

@media only screen and (max-width: 767px) {
  .kccwg_responsive_image {
    max-width: 100%;
    height: auto;
  }
}
@media (min-width: 600px) {
  .navbar.scrolling-navbar .navbar-nav > li {
    -webkit-transition-duration: 1s;
    -o-transition-duration: 1s;
    transition-duration: 1s;
  }
}
/* the home styling starts here */
#home {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.video-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.video-container video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.description {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  z-index: 1;
}

.description h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color: #fff;
  text-transform: none;
  font-family: Playfair Display Italic;
}

.description p {
  font-size: 1.2rem;
  color: #4bef10;
  text-transform: capitalize;
  font-family: Griffiths Font;
  font-size: 1.5rem;
  font-weight: 600;
}

/* Additional styles for responsiveness can be added for larger screens */
@media (min-width: 992px) {
  /* Desktop devices */
  #home {
    height: 100vh;
  }

  .description h1 {
    font-size: 3rem;
    color: #fff;
    text-transform: none;
    font-family: Playfair Display Italic;
  }

  .description p {
    font-size: 1.3rem;
    color: #4bef10;
    text-transform: capitalize;
    font-family: Orpheus Italic;
    font-size: 1.5rem;
    font-weight: 600;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  /* Tablets */
  #home {
    height: 70vh;
  }

  .description h1 {
    font-size: 2rem;
  }

  .description p {
    font-size: 1.1rem;
  }
}

@media (max-width: 767px) {
  /* Mobile devices */
  #home {
    height: 50vh;
  }

  .description h1 {
    font-size: 1.2rem;
  }

  .description p {
    font-family: garamond;
    font-size: 1.1rem;
    line-height: normal;
    font-weight: 600;
    color: #4bef10;
  }
}
/* the about section starts from here  */
#about {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

/* divider */
.kccwg_divider {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-weight: 300;
  margin-top: 20px;
  margin-bottom: 20px;
}
.kccwg_divider span {
  margin-top: 5px;
}
.kccwg_divider:before {
  content: "";
  height: 1.5px;
  background: #c6c6c6;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin: 0 0.45em 0 0;
}

.kccwg_divider:after {
  content: "";
  height: 1.5px;
  background: #c6c6c6;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin: 0 0 0 0.45em;
}
.aboutkccwg_row {
  margin: 0px;
  background-color: transparent;
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.05);
  border-radius: 0.5rem;
}
.aboutkccwg-desc > p {
  font-style: normal;
  font-size: 16px;
  line-height: 2;
}
.text-dark {
  color: #212121 !important;
}
.aboutkccwg-img > img {
  width: 100%;
  height: 100%;
  transform: translateY(-2px);
  object-fit: cover;
  border-radius: 0.5rem;
  box-shadow: 0 0 8px 3px rgba(0, 0, 0, 0.2);
}
